<div class="panel-body">
  <div class="border margin p-3">
    <p class="h3 p-2 author-name">{{ dinosaurioDetail?.name }}</p>
    <div class="row">
      <div class="col-md-3">
        <div class="thumb">
          <img
            class="img-fluid img-thumbnail border border-danger"
            src="{{ dinosaurioDetail?.image }}"
            alt="{{ dinosaurioDetail?.name }}"
          />
        </div>
      </div>
      <div class="col-md-7">
        <dl>
          <dt class="text-title">Bio</dt>
          <dd class="text">{{ dinosaurioDetail?.description }}</dd>
          <dt class="text-title">Era</dt>
          <dd class="text">{{ dinosaurioDetail?.era}}</dd>
        </dl>
        <p class="h3">Books by this author:</p>
      </div>
    </div>
  </div>
</div>
